<h1>Realtime Events</h1>
<!-- The list where the events will appear -->
<ul id="eventsList">
    <% data.forEach(event=> { %>
        <li data-timestamp="<%= event.ts %>">
            <img src="<%= event.discordAvatar %>" alt="<%= event.username %>" class="discord-avatar">
            <%= event.username %>: Current Streak - <%= event.currentStreak %>
                    <span class="timeSince">a moment ago</span> <!-- placeholder text -->
        </li>
        <% }); %>
</ul>

<!-- Include socket.io client and the script for real-time updates -->
<script>
    const socket = io.connect();

    socket.on('/realtime', function (data) {
        const list = document.getElementById('eventsList');
        const listItem = document.createElement('li');

        if (data.discordAvatar) {
            const imageElem = document.createElement('img');
            imageElem.src = data.discordAvatar;
            imageElem.alt = "Received image";
            imageElem.className = "discord-avatar";
            listItem.appendChild(imageElem);
        }

        if (data.message) {
            listItem.textContent = data.message;
        }

        list.prepend(listItem); // Adds the new event at the top

        // Optional: If you want to keep it at 50 items:
        while (list.childNodes.length > 50) {
            list.removeChild(list.lastChild);
        }
    });

    function updateTimeSince() {
        const eventElements = document.querySelectorAll('[data-timestamp]');
        eventElements.forEach(element => {
            const timestamp = element.getAttribute('data-timestamp');
            const timeSinceElement = element.querySelector('.timeSince');
            timeSinceElement.textContent = moment(timestamp).fromNow();
        });
    }

    // Call immediately to format all timestamps
    updateTimeSince();

    // Then update every minute
    setInterval(updateTimeSince, 60000);

</script>